.vs/
bin/
obj/
*.user
*.rsuser
*.suo

*.db
*.db-shm
*.db-wal
*.bak
*.log

appsettings.Development.json
appsettings.Local.json
.env
.env.*

Properties/PublishProfiles/*.user
Properties/PublishProfiles/*.pubxml.user

token.json
credentials.json
*.tmp
*.zip
